* {
    font-family: Helvetica;
    box-sizing: content-box;
}

header {
    background-image: url('../images/pattern.jpeg');
    background-size: cover;
    background-position: center;

}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}
